.avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.value {
  font-size: 18px;
}

.name {
  font-size: 24px;
  font-weight: 600;
}

.login {
  font-size: 20px;
  color: #8d96a0;
  line-height: 24px;
}