<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse justify-content-between" style="padding-right: 10px; padding-left: 10px;" id="navbarNavDropdown">
    <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': lastSegment() === '/block'}" (click)="goToPage('block')">Block</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': lastSegment() === '/table'}" (click)="goToPage('table')">Table</a>
      </li>
    </ul>
    <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">

      @if (authService.isLoggedIn()) {

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="authService.user()?.photoURL ?? '../../../assets/blankdirectory.png'" width="24" height="24" class="d-inline-block align-text-top" style="border-radius: 50%;">
            {{ authService.user()?.displayName ?? authService.user()?.email }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="signOut()">LogOut</a></li>
          </ul>
        </li>
      }
    </ul>
  </div>
</nav>